@{
    ViewBag.Title = "Manage User Roles";
}
<h2>Manage User Roles</h2>
@Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage User Role", "ManageUserRoles") | @Html.ActionLink("Back","Index")
<hr />
<h2>Role Add to User</h2>
@using (Html.BeginForm("RoleAddToUser", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Username : @Html.TextBox("userName")
        Role Name: @Html.DropDownList("roleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")
    </p>

    <input type="submit" value="Save"/>
    <br/>
    <p style="color: darkgreen"> @ViewBag.ResultMessage</p>
    
}
<hr />
@if (ViewBag.RolesForThisUser != null)
{
    <div style="background-color:antiquewhite;">
        <h3 style="color: cornflowerblue" >Roles for this user </h3>
        <ol>
            @foreach (string s in ViewBag.RolesForThisUser)
            {
                <li>@s</li>
            }
        </ol>
    </div>
}
<hr />
<h3>Delete A User from a Role</h3>
@using (Html.BeginForm("DeleteRoleForUser", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Username : @Html.TextBox("userName")
        Role Name: @Html.DropDownList("roleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")
    </p>

    <input type="submit" value="Delete this user from Role"/>
    <br/>
    <p style ="color: darkgreen">@ViewBag.ResultOfDeleteMessage</p>
}